body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding-top: 40px;
    padding-bottom: 20px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-custom {
    background: linear-gradient(to bottom, #6e767e, #303438, #52585e);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff;
}

.navbar-custom .nav-link:hover {
    color: #f8f9fa;
}

.nav li {
    font-size: 20px;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h3 {
    text-align: center;
}

h3,
h4 {
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

p,
li {
    color: #7f8c8d;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

p strong,
li strong {
    font-size: 20px;
    color: #002f5e;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.project-details {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

.project-details:hover {
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.575);
    transform: translateY(-5px);
}

.project-details h3 {
    font-size: 30px;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}

.project-details p {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    color: #5a5353;
    margin-bottom: 20px;
}

.project-details ul {
    padding: 0 1.5rem;
    list-style-type: disc;
    margin-bottom: 20px;
}

.project-details li {
    font-size: 17px;
    color: #4b4b4b;
    text-align: justify;
    width: 100%;
    margin: 0;
}

.text-center img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.text-center img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn {
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #2980b9;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .project-details {
        padding: 20px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .text-center img {
        max-width: 90%;
    }
}

.whatsapp-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #25d366;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: white;
    transition: background-color 0.2s ease;
    animation: glow 3s infinite, grow 2s infinite;
}

.whatsapp-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.whatsapp-icon:hover {
    background-color: #128c7e;
}

footer {
    margin-top: auto;
    background: linear-gradient(to bottom, #505050, #111111d5, #1b1b1b);
    color: white;
    text-align: center;
    padding: 50px 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffc400;
    margin: 0 0 10px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #ffcc00;
    z-index: -1;
    transform: translate(2px, 2px);
    filter: blur(3px);
}

.footer-title {
    text-shadow:
        2px 2px 5px rgba(0, 0, 0, 0.3),
        -2px -2px 5px rgba(0, 0, 0, 0.3),
        2px -2px 5px rgba(0, 0, 0, 0.3),
        -2px 2px 5px rgba(0, 0, 0, 0.3);
}


.footer-text {
    font-size: 16px;
    color: #f5f5f5;
    margin: 0;
    line-height: 1.6;
}

.footer-text strong {
    color: #00ff00;
    font-weight: bold;
}

.footer p {
    color: red;
    font-size: 124px;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(76, 63, 255, 0.884);
    }

    50% {
        box-shadow: 0 0 30px rgb(76, 63, 255);
    }

    100% {
        box-shadow: 0 0 20px rgba(76, 63, 255, 0.856);
    }
}

@media (max-width: 600px) {
    .icon-3deffects {
        font-size: 33px;
        color: #333;
        margin-top: 15px;
        transition: transform 0.3s ease, color 0.3s ease;
        cursor: pointer;
    }

    .btn-details {
        margin-top: 40px;
    }

    .whatsapp-icon {
        bottom: 20px;
        right: 20px;
        height: 60px;
        width: 60px;
    }

    .whatsapp-icon img {
        width: 40px;
        height: 40px;
    }
}